[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jedi = "*"
autopep8 = "*"
yapf = "*"
black = "*"
flake8 = "*"
pytest = "*"
flake8-todos = "*"
twine = "*"
# Work around https://github.com/pypa/pipenv/issues/3865
docutils = "!=0.15.post1"

[packages]
lase = {editable = true,path = "."}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
