[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jedi = "*"
autopep8 = "*"
yapf = "*"
black = "*"
flake8 = "*"
pytest = "*"
flake8-todos = "*"

[packages]
releasy = {editable = true,path = "."}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
